.navbar {
  height: 70px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: var(--font-size-md);
  color: var(--color-text-gray);
  padding: 0px !important;
  margin: 0px;

  .wrapper {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-search {
      display: flex;
      align-items: center;
      padding: 3px;

      .logo {
        img {
          height: 60px;
          padding: 3px;
          width: 60px;
          margin-right: var(--font-size-xs);
        }
      }

      .search {
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        padding: 3px;

        input {
          border: none;
          outline: none;
          background: transparent;

          &::placeholder {
            font-size: var(--font-size-sm);
          }
        }
      }


    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        padding: 5px;
        position: relative;

        .icon {
          font-size: var(--font-size-lg);
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: var(--color-red);
          border-radius: 50%;
          color: var(--color-white);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: var(--font-size-xs);
          font-weight: var(--font-weight-bold);
          position: absolute;
          top: -5px;
          right: -5px;
        }

        .btn-login,
        .btn-logout {
          background-color: var(--color-blueviolet);
          padding: 5px var(--font-size-xs);
          color: var(--color-white);
          border: 0px;
          cursor: pointer;
        }

        .p-login {
          padding: 4px var(--font-size-xs);
          font-weight: var(--font-weight-bold);
          margin-bottom: 0px;
        }

        .user-info {
          display: flex;
          align-items: center;
        }


      }
    }
  }
}